.title{
  position: absolute;
  left: 35%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    height: 300px;
    margin-top: 60px;
  }
  
  input{
    width: 310px;
    height: 30px;
    margin: 10px 10px 10px 10px;
  }
  
  .login-btn{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .error-label{
    background-color: red;
    width: 300px;
    height: 30px;
    margin: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .globalContainer{
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .header{
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
.logos img{
  width: 166px;
  height: 96px;
}

.logos{
  display: flex;
}

#iue_ts, #unal_ts{
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 20px;
}

.notification-overlay {
  position: absolute;
  z-index: 9999;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

