.header-container{
    display: flex;   
    align-items: center;
    justify-content: center;
}

.back-button{
    position: absolute;
    left: 30px;
    width: 60px;
    height: 40px;
}

.table-container{
    margin-top: 100px;
    width: 800px;
    display: flex;
    margin-left: 100px;
}