.modal{
    position: absolute;
    width: 99%;
    height: 600px;
    background-color: white;
}

.header-modal{
    display: flex;
    align-items: center;
    margin: 5px;
}

.header-modal h1{
    margin-left: 290px;
}

.header-modal button{
    position: absolute;
    right: 40px;
}

.content-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.container
{   
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99%;
    height: 430px;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input{
    width: 100%;
    height: 30px;
    text-align: center;
}

.predict-button{
    width: 200px;
    height: 40px;
    margin-top: 100px;
}

.input-column{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label{
    font-size: 12px;
}

.header-container{
    display: flex;   
    align-items: center;
    justify-content: center;
}

.back-button{
    position: absolute;
    left: 30px;
    width: 60px;
    height: 40px;
}

.description-predict{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-container{
    display: flex;
}