<div class="header-container container d-flex align-items-center mt-3">
    <app-back-button class="back-button"></app-back-button>
    <h1 class="fs-3">Inicio</h1>    
</div>


<header class="header_main">
    <div class="banner">
        <img src="../../../../../assets/iueHeader.svg" alt="" id="iue_ts">
        <img src="../../../../../assets/unalWhite.svg" alt="" id="unal_ts">
    </div>
</header>

<main class="container">
    <div class="menu_container d-flex justify-content-between mt-2">
        <button [hidden]="!role" class="btn btn-light btn-outline-dark btn-lg" type="submit" routerLink="/training">Entrenamiento</button>
        <button [hidden]="!role" class="btn btn-light btn-outline-dark btn-lg" type="submit" routerLink="/admin">Administrar</button>
        <button class="btn btn-light btn-outline-dark btn-lg" type="submit" routerLink="/predictions">Predicción</button>
        <button class="btn btn-light btn-outline-dark btn-lg">Estadísticas</button>
    </div>
</main>

