<h1 class="title d-flex justify-content-center fs-3 mt-3">Ingreso de usuarios</h1>

<div class="globalContainer">    
    
    <div *ngIf="noSuccessful" class="errorLogin">
        <p> Usuario o contraseña incorrecta</p>
    </div>

    <form class="container" (ngSubmit)="loginSesion()" [formGroup]="groupForm">

        <label for="username" class="form-label"> Username </label>
        <input 
            type="text" 
            id="username"
            name="username"
            required="required"
            formControlName="username"
            placeholder="Username"
            class="form-control">

        <label for="username" class="form-text" *ngIf="Username.invalid && (Username.dirty || Username.touched )">
                Debe contener minimo 6 caracteres    
        </label>
        
        <label for="password" class="form-label"> Password</label>
    
        <input 
            type="password"
            id="password"
            name="password"
            required="required"
            formControlName="password"
            placeholder="Password"
            class="form-control">

        <label for="username" class="form-text" *ngIf="Password.invalid && (Password.dirty || Password.touched )">
                Debe ingresar la contraseña
        </label>
        
        <button class="but btn btn-light btn-outline-dark d-flex justify-content-center" id="login-btn" type="submit"> Ingresa </button>
        <label for="login-btn" class="form-text"> No estas registrado? <a class="sign-up" routerLink="/account/signup">Registrate ahora</a></label>
    
    
    </form>

    <div class="header">
        <div class="logos">
            <img src="../../../../../assets/iueHeader.svg" alt="" id="iue_ts">
            <img src="../../../../../assets/unalWhite.svg" alt="" id="unal_ts">
        </div>
    </div>
</div>

